root = true

[*]
max_line_length = 99
insert_final_newline = true
trim_trailing_whitespace = true

[*.rb]
indent_style = space
indent_size = 2

[*.{js,mjs}]
indent_style = tab
indent_size = 4

[{package.json,package-lock.json}]
indent_style = space
indent_size = 2

[*.{html,xml,erb}]
indent_style = tab
indent_size = 3

[*.{css,scss}]
indent_style = tab
indent_size = 2
